mixin content-policy
  section.content.container
    .wrapper
      h1 Политика конфиденциальности
      p Редакция, действующая с 12 апреля 2018 года<br><br>Настоящая Политика в отношении обработки и защиты персональных данных (далее – «Политика») принята и действует в Центре детского сна и развития «BabySleep» – Индивидуальный предприниматель Мурадова Е.А., ОГРНИП 316774600174622 (далее – «Компания» или «мы»).<br><br>Мы собираем, используем и охраняем персональные данные, которые вы предоставляете нам при использовании наших сайтов: baby-sleep.ru, babysleepconsult.ru, baby-sleep.online (далее – «сайты») с любого устройства и при коммуникации с нами в любой форме, в соответствии с данной Политикой.<br><br>Политика распространяется на всех сотрудников Компании (включая сотрудников и консультантов, работающих по договорам подряда) и все структурные подразделения. Требования Политики также учитываются и предъявляются в отношении иных лиц при необходимости их участия в процессе обработки персональных данных Компанией, а также в случаях передачи им в установленном порядке персональных данных на основании соглашений, договоров, поручений на обработку.<br><br>Используя наши сайты и предоставляя нам свои персональные данные, вы даете согласие на обработку ваших персональных данных в соответствии с данной Политикой. Заполнение и отправка форм на сайтах является подтверждением согласия на обработку персональных данных.
      h2 1. Основные понятия
      p «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу.<br><br>«Обработка персональных данных» – осуществление любых действий или совокупности действий в отношении ваших персональных данных, включая сбор, запись, систематизацию, накопление, хранение, обновление и изменение, извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение, как с использованием, так и без использования систем автоматизированной обработки персональных данных.
      h2 2. Данные, которые мы собираем
      p Мы собираем:
      ul
        li персональные данные, которые вы предоставляете нам при заполнении информационных полей на наших сайтах, в том числе при заполнении контактной формы, формы-заявки на консультацию, при подписке на получение информационных материалов, покупке нашего электронного продукта или услуги, заполнении формы-картины сна (при подготовке к консультации), при регистрации на мероприятия, при написании комментария или отзыва, или любых других форм;
        li персональные данные (такие, как имя, фамилия, адрес электронной почты, страна и город проживания, номер телефона) и другую информацию, содержащуюся в сообщениях, которые вы нам направляете, в том числе информацию об оплате кредитной картой или других видах платежей, имя и возраст вашего ребенка, особенности вашего образа жизни, связанные с темой детского сна;
        li технические данные, которые автоматически передаются устройством, с помощью которого вы используете наши сайты, в том числе технические характеристики устройства, IP-адрес, информация, сохраненная в файлах «cookies», которые были отправлены на ваше устройство, информация о браузере, дата и время доступа к сайту, адреса запрашиваемых страниц и иная подобная информация;
        li иные данные о вас, которые вы пожелали оставить на наших сайтах.
      h2 3. Цели обработки данных
      p Мы обрабатываем ваши персональные данные исключительно для тех целей, для которых они были предоставлены, в том числе:
      ul
        li регистрации вас на наших сайтах для предоставления вам доступа к отдельным его разделам;
        li для предоставления продуктов и оказания услуг, запрошенных вами;
        li связи с вами по поводу продуктов и услуг, которые могут представлять интерес для вас, при условии, что вы дали свое согласие на это, или ранее отправляли нам запрос о продукте или услуге;
        li информирования о наших мероприятиях, новостях, акциях, конкурсах;
        li ответов на ваши вопросы или комментарии;
        li улучшения качества наших продуктов и работы сайта baby-sleep.ru;
        li оценки использования сайта, продуктов и услуг baby-sleep.ru;
        li оценки эффективности нашей рекламы, конкурсов и кампаний по продвижению продуктов;
        li коммуникации с вами, когда вы обращаетесь к нам;
        li организации вашего участия в проводимых нами мероприятиях и опросах;
        li для других целей с вашего согласия.
      p Мы обрабатываем технические данные для:
      ul
        li обеспечения функционирования и безопасности наших сайтов;
        li упрощения, ускорения и индивидуализации вашей работы с нашим сайтом и составления статистики (анонимно) вашей активности на сайте, включая время посещения сайта, предыдущие посещения сайта, адрес сайта, который отослал вас на baby-sleep.ru.
      p Полученные нами персональные данные не распространяются, а также не предоставляются третьим лицам без вашего согласия и используются нами исключительно для исполнения принятых на себя обязательств и заключения договоров с вами. Мы не размещаем ваши персональные данные в общедоступных источниках. Мы не принимаем решений, порождающих для вас юридические последствия или иным образом затрагивающих ваши права и законные интересы на основании исключительно автоматизированной обработки персональных данных.<br><br>Полученные нами персональные данные хранятся на территории Российской Федерации. Мы храним ваши персональные данные в течение 15 лет с момента последнего взаимодействия с вами. В случае, если в указанный период хранения вы не обращались к нам за продуктами и услугами, не принимали участия в мероприятиях и не проявляли активности в иной форме, не уточняли и не изменяли ваши персональные данные, по истечении указанного срока полученные нами персональные данные подлежат уничтожению в течение 30 дней.