mixin calendar-hero
  section.calendar-hero.container
    .wrapper
      p.calendar-hero__heading Календарь скачков и кризисов развития
      p.calendar-hero__desc До 1,5 лет ребенок переживает 10 кризисов роста и развития. Не стоит пугаться, каждый кризис — это скачок развития нервной системы, скачок роста мозга, появление новых способностей у ребенка. Кризисные недели складываются в календарь скачков развития ребенка.