mixin search
  section.search.container
    .wrapper
      p.search__heading Результаты поиска: консультант
      p.search__founded Найдено 4 совпадения
      ol.search__results
        li.search__results-item
          a.search__results-link(href="#") Как выбрать автокресло для вашего ребенка
          p.search__results-desc (Внешние факторы, влияющие на сон ребенка)<br>... проверьте наличие сертификата безопасности ЕСЕ. Проводятся также независимые испытания безопасности автокресел, более строгие и на более высоких скоростях – ADAC, Stiftung Warentest, ANWB, ÖAMTC. Результаты ...<br>Создано 09 Ноябрь 2019
        li.search__results-item
          a.search__results-link(href="#") Прорезывание зубов и сон малыша
          p.search__results-desc (Комментарии)<br><... плач во сне. Если же плач, кажется, начинается на ровном месте, проверьте, не является ли Ваш ребенок высокочувствительным - <br>https://baby-sleep.ru/rubriki-sajta/testy/379-test-na-vysokochuvstvitelnost-rebenka ...<br>Создано 25 Май 2017
        li.search__results-item
          a.search__results-link(href="#") Как выбрать автокресло для вашего ребенка
          p.search__results-desc (Внешние факторы, влияющие на сон ребенка)<br>... проверьте наличие сертификата безопасности ЕСЕ. Проводятся также независимые испытания безопасности автокресел, более строгие и на более высоких скоростях – ADAC, Stiftung Warentest, ANWB, ÖAMTC. Результаты ...<br>Создано 09 Ноябрь 2019
        li.search__results-item
          a.search__results-link(href="#") Прорезывание зубов и сон малыша
          p.search__results-desc (Комментарии)<br>... плач во сне. Если же плач, кажется, начинается на ровном месте, проверьте, не является ли Ваш ребенок высокочувствительным - <br>https://baby-sleep.ru/rubriki-sajta/testy/379-test-na-vysokochuvstvitelnost-rebenka ...<br>Создано 25 Май 2017