mixin month-hero
  section.month-hero.container
    .wrapper
      h1.month-hero__heading Сон ребенка месяц за месяцем
      p.month-hero__desc Постепенно дети все меньше спят, а время бодрствования между дневными сна увеличивается. Как дети «сбрасывают дневные сны и начинают спать всю ночь? Наблюдайте как меняется потребности малыша месяц за месяцем