include ../_ui/heading/heading
include ../_ui/input/input
include ../_ui/button/button

mixin reviews
  section.reviews.block.container
    .wrapper
      +heading('500+ отзывов', 'Смотреть все')
      .reviews__slider.slider.js-reviews-slider
        .reviews__slide
          .reviews__slide-content
            .reviews__slide-image.reviews__slide-image--video(style="background-image: url('img/inhtml/reviews-1.jpg');")
              .reviews__slide-image-play
            .reviews__slide-info
              .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-1.jpg');")
              .reviews__slide-desc
                p.reviews__slide-name Наталья Подольская, Москва
                p.reviews__slide-pos мама Тёмы
            a.reviews__slide-type(href="#") Индивидуальное решение под ключ
            p.reviews__slide-title Проблема
            p.reviews__slide-text В 6-8 месяцев засыпает только с долгим укачиванием в люльке, 8-12 пробуждений за ночь.
            p.reviews__slide-title Результат
            p.reviews__slide-text Самостоятельное засыпание без укачиваний и слез в кроватке, 1-3  кормления (ГВ).
          a.reviews__slide-link(href="#") Смотреть видеоотзыв
        .reviews__slide
          .reviews__slide-content
            .reviews__slide-image(style="background-image: url('img/inhtml/reviews-2.jpg');")
            .reviews__slide-info
              .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-2.jpg');")
              .reviews__slide-desc
                p.reviews__slide-name Юлия Смольная, Санкт-Петербург
                p.reviews__slide-pos мама Лены и Макара
            a.reviews__slide-type(href="#") Экспресс консультация
            p.reviews__slide-title Проблема
            p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
            p.reviews__slide-title Результат
            p.reviews__slide-text Засыпание за 15 минут, ощущение контакта и единения с детьми у мамы.
          a.reviews__slide-link(href="#") Смотреть отзыв
        .reviews__slide
          .reviews__slide-content
            .reviews__slide-image(style="background-image: url('img/inhtml/reviews-3.jpg');")
            .reviews__slide-info
              .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-3.jpg');")
              .reviews__slide-desc
                p.reviews__slide-name Настя и Женя Кузнецовы, Челябинск
                p.reviews__slide-pos родители Есении и Федора
            a.reviews__slide-type(href="#") Индивидуальное решение под ключ
            p.reviews__slide-title Проблема
            p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
            p.reviews__slide-title Результат
            p.reviews__slide-text Сон всю ночь без пробуждений и без кормлений.
          a.reviews__slide-link(href="#") Смотреть отзыв
        .reviews__slide
          .reviews__slide-content
            .reviews__slide-image(style="background-image: url('img/inhtml/reviews-2.jpg');")
            .reviews__slide-info
              .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-2.jpg');")
              .reviews__slide-desc
                p.reviews__slide-name Юлия Смольная, Санкт-Петербург
                p.reviews__slide-pos мама Лены и Макара
            a.reviews__slide-type(href="#") Экспресс консультация
            p.reviews__slide-title Проблема
            p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
            p.reviews__slide-title Результат
            p.reviews__slide-text Засыпание за 15 минут, ощущение контакта и единения с детьми у мамы.
          a.reviews__slide-link(href="#") Смотреть отзыв
      form.reviews__form(action="")
        img.reviews__form-image(src="img/book.png", alt="")
        p.reviews__form-type Бесплатное руководство
        p.reviews__form-heading «Почему мой ребенок плохо спит»
        p.reviews__form-desc Заполните данные и мы пришлём руководство на почту
        .reviews__form-row
          +input('text', 'name', 'Имя', '', true)
          +input('email', 'email', 'Email', '', true)
          +button-tertiary('popup', 'Получить руководство', 'reviews__form-btn', {popup: 'guide'})
        p.reviews__form-disclaimer Нажимая на кнопку, вы соглашаетесь с нашей <a href="#">Политикой конфиденциальности</a>
      .reviews__partners.js-partners-slider
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/doc.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/mail.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/moscow24.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/mediametrics.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/kindadvices.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/rbk.svg", alt="")
        .reviews__partners-slide
          img.reviews__partners-item(src="img/partners/mediametrics.svg", alt="")
      p.reviews__disclaimer *СМИ и партнеры
      .reviews__subscribe
        p.reviews__subscribe-heading Подписывайтесь!
        p.reviews__subscribe-text Бесплатные консультации и советы в наших соц. сетях
        .reviews__subscribe-socials
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="inst")
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="vk")
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="telegram")
