mixin selection-help
  section.selection-help.container
    .selection-help__wrapper.wrapper
      img(src="img/inhtml/selection-help.jpg", alt="").selection-help__image
      .selection-help__info
        p.selection-help__heading Помощь консультанта по сну
        p.selection-help__text В этот период сглаживаем эффекты истерик перед сном и «колик» (или того, что под ними подразумевается), настраиваем засыпание без слез, продлеваем ночь до 3-6 часов без перерыва, укладываем в кроватке, закладываем правильные привычки и ассоциации на сон, чтобы мягко пройти регресс сна 4-х месяцев.
        .selection-help__author
          img(src="img/inhtml/selection-help.jpg", alt="").selection-help__img
          div
            a.selection-help__name(href="#") Елена Мурадова
            p.selection-help__desc Основатель BabySleep, первый консультант по сну в России и СНГ