mixin mission
  section.mission.container
    .wrapper
      h1.mission__heading Миссия и ценности
      p.mission__subheading согласно которым работает BabySleep
      p.mission__desc Команда Центра детского сна и развития BabySleep c 2011 года. Обращаясь к нам за консультацией или за любой другой услугой, вы получите не только профессиональную помощь, но можете рассчитывать на тактичное, безопасное, вежливое, уважительное к вашим взглядам, переживаниям и чувствам отношение.
      .mission__banner
        p.mission__banner-title Миссия
        p.mission__banner-desc Решение проблем со сном всей семьи, поддержка женщин с детьми в декрете и на пути совмещения материнства и самореализации, создание гармоничных, доверительных отношений с детьми и между родителями.
      .mission__codex
        p.mission__codex-heading Положения Кодекса консультанта по детскому сну:
        .mission__codex-grid
          .mission__codex-item
            p.mission__codex-num 01.
            p.mission__codex-title Единство
            p.mission__codex-desc Миссия консультантов по детскому сну — стараться, чтобы как можно больше детей спокойно засыпали и хорошо спали. Консультант осведомлен о границах своей компетенции, следует Этическому кодексу консультанта по детскому сну.
          .mission__codex-item
            p.mission__codex-num 02.
            p.mission__codex-title Уважение
            p.mission__codex-desc Консультант по детскому сну уважает взгляды, убеждения и потребности семей, с которыми он работает, даже если они отличаются от его собственных представлений.
          .mission__codex-item
            p.mission__codex-num 03.
            p.mission__codex-title Конфиденциальность
            p.mission__codex-desc Консультант по детскому сну соблюдает принцип конфиденциальности: личная информация клиента не подлежит передаче третьим лицам. Информация, полученная консультантом в процессе работы, не подлежит разглашению, а в случае необходимости должна быть представлена в форме, исключающей ее использование против интересов клиентов.
          .mission__codex-item
            p.mission__codex-num 04.
            p.mission__codex-title Экологичность
            p.mission__codex-desc Консультант по детскому сну честен, дружелюбен, вежлив и тактичен по отношению к клиентам и другим консультантам. Он бережно работает с каждой семьей, не навязывая свои ценности и не критикуя поведение родителей. Всегда осознает, как его действия, высказывания и поведение отражается на клиентах и репутации профессии в целом. Обеспечивает себе режим работы и отдыха, позволяющий адекватно распределять нагрузку.
          .mission__codex-item
            p.mission__codex-num 05.
            p.mission__codex-title Компетентность
            p.mission__codex-desc Консультант по детскому сну постоянно повышает уровень своей профессиональной компетентности, инициируют свой рост и развитие в профессиональной и личностной сфере. Знакомится с новыми исследованиями в области сна, интересуется знаниями в области детской психологии и педагогики.
          .mission__codex-item
            p.mission__codex-num 06.
            p.mission__codex-title Профессиональная кооперация
            p.mission__codex-desc Консультант по детскому сну проявляет уважение к другим специалистам, работающим с семьями, и методам их работы независимо от собственных теоретических и методических предпочтений.
          .mission__codex-item
            p.mission__codex-num 07.
            p.mission__codex-title Добросовестность
            p.mission__codex-desc Консультант по детскому сну не нарушает чужие права на интеллектуальную собственность, не использует без разрешения чужие материалы (или их части) и старается предотвратить их незаконное распространение. Без разрешения правообладателя запрещено полное или частичное использование (включая пересылку, перепечатку, копирование, рерайт, создание составных или производных произведений) любых произведений (текстовые материалы, изображения, аудио- и видеозаписи), которые предоставлялись консультанту во время обучения, стажировки и сертификации.
          .mission__codex-item
            p.mission__codex-num 08.
            p.mission__codex-title Ответственность
            p.mission__codex-desc Консультант по детскому сну осознает свою профессиональную и личную ответственность перед обществом, в котором он работает и живет. Он популяризирует привычки здорового сна для повышения благополучия общества. В публичных выступлениях не пользуется непроверенной информацией. Предоставляет правдивую, полную и точную информацию о своем образовании и компетентности. Консультант по детскому сну несет полную ответственность за достоверность предоставленной информации, свои суждения и действия и не несет ответственность за действия родителей и некорректное использование или толкование предоставленной им информации.
          .mission__codex-item
            p.mission__codex-num 09.
            p.mission__codex-title Безопасность
            p.mission__codex-desc Во время предоставления услуг консультант по детскому сну следует процедурам организации безопасности, защищающим клиентов от вреда/травм вследствие прогнозируемых рисков. Не предоставляет какие-либо медицинские рекомендации, не оспаривает, не отменяет и не изменяет рекомендации, данные клиенту лечащими врачами.
        p.mission__codex-about Елена Мурадова,<br><br>основатель и руководитель Центра детского сна и развития BabySleep, первый в России сертифицированный консультант по детскому и семейному сну (диплом IMI Maternity & Child Sleep Consultant, США), член Международной ассоциации профессиональных консультантов по сну (APSC).<br><br>Мама троих детей.
      img(src="img/inhtml/mission.jpg", alt="").mission__image
      p.mission__disclaimer Команда bs