include ../_ui/subheading/subheading

mixin calendar-questions
  section.calendar-questions.container
    .wrapper
      +heading('Частые вопросы')
      .calendar-questions__accordeon.js-accordeon
        .calendar-questions__accordeon-item
          .calendar-questions__accordeon-content.js-accordeon-item
            p.calendar-questions__accordeon-heading.js-accordeon-trigger Если родился не в срок?
            .calendar-questions__accordeon-info
              .calendar-questions__accordeon-inner
                p.calendar-questions__accordeon-text Если ваш ребенок родился на 2 недели позже срока, то начинайте отсчет на две недели раньше. Если он родился за 4 недели до срока, начинайте отсчет на 4 недели позже.
        .calendar-questions__accordeon-item
          .calendar-questions__accordeon-content.js-accordeon-item
            p.calendar-questions__accordeon-heading.js-accordeon-trigger Откуда данные по кризисам?
            .calendar-questions__accordeon-info
              .calendar-questions__accordeon-inner
                p.calendar-questions__accordeon-text Если ваш ребенок родился на 2 недели позже срока, то начинайте отсчет на две недели раньше. Если он родился за 4 недели до срока, начинайте отсчет на 4 недели позже.
        .calendar-questions__accordeon-item
          .calendar-questions__accordeon-content.js-accordeon-item
            p.calendar-questions__accordeon-heading.js-accordeon-trigger Откуда данные по кризисам?
            .calendar-questions__accordeon-info
              .calendar-questions__accordeon-inner
                p.calendar-questions__accordeon-text Если ваш ребенок родился на 2 недели позже срока, то начинайте отсчет на две недели раньше. Если он родился за 4 недели до срока, начинайте отсчет на 4 недели позже.
        .calendar-questions__accordeon-item
          .calendar-questions__accordeon-content.js-accordeon-item
            p.calendar-questions__accordeon-heading.js-accordeon-trigger Откуда данные по кризисам?
            .calendar-questions__accordeon-info
              .calendar-questions__accordeon-inner
                p.calendar-questions__accordeon-text Если ваш ребенок родился на 2 недели позже срока, то начинайте отсчет на две недели раньше. Если он родился за 4 недели до срока, начинайте отсчет на 4 недели позже.
        .calendar-questions__accordeon-item
          .calendar-questions__accordeon-content.js-accordeon-item
            p.calendar-questions__accordeon-heading.js-accordeon-trigger Откуда данные по кризисам?
            .calendar-questions__accordeon-info
              .calendar-questions__accordeon-inner
                p.calendar-questions__accordeon-text Если ваш ребенок родился на 2 недели позже срока, то начинайте отсчет на две недели раньше. Если он родился за 4 недели до срока, начинайте отсчет на 4 недели позже.