include ../_ui/heading/heading
include ../_ui/description/description
include ../_ui/button/button

mixin consults-reasons
  section.consults-reasons.container
    .wrapper
      +heading('7 причин')
      +description('по которым родители выбирают индивидуальные консультации в BabySleep')
      .consults-reasons__accordeon.js-accordeon
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item.active
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 01.<br>
              | Улучшаем сон и качество жизни всей семьи
            .consults-reasons__accordeon-info(style="display: block")
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 02.<br>
              | Каждый случай — уникальный
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 03.<br>
              | Даем родителям ключи уверенности
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 04.<br>
              | Действуем профессионально, в согласии с наукой и природой
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 05.<br>
              | Работаем по мягким методикам 
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 06.<br>
              | Помогаем вернуть спокойствие и найти баланс 
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
        .consults-reasons__accordeon-item
          .consults-reasons__accordeon-content.js-accordeon-item
            p.consults-reasons__accordeon-heading.js-accordeon-trigger 
              span 07.<br>
              | Учитываем ценности семьи
            .consults-reasons__accordeon-info
              .consults-reasons__accordeon-inner
                img(src="img/inhtml/consults-reasons.jpg", alt="").consults-reasons__accordeon-img
                p.consults-reasons__accordeon-text Помогаем укладывать малышей спать быстро и вовремя, чтобы вечер стал временем для восстановления, самореализации, любви и отдыха.<br><br>Поддерживаем при прохождении сложных этапов, учим способам беречь себя и восстанавливать силы.
      +button-secondary('link', 'Спросить в WhatsApp', 'consults-reasons__btn', {link: '#'})
      p.consults-reasons__solution Решит ли консультация мою проблему?