include ../_ui/button/button

mixin about-help-results
  section.about-help-results.container
    .wrapper
      .about-help-results__inner
        .about-help-results__content
          .about-help-results__quotation
          p.about-help-results__heading Каких результатов реально достичь
          .about-help-results__author.about-help-results__author--mobile
            a.about-help-results__author-name(href="#") Елена Мурадова
            p.about-help-results__author-about Основатель BabySleep, первый консультант по сну в России и СНГ
          p.about-help-results__list <span>Научиться укладывать ребенка спать не за 1–2 часа, а всего за 5–15 минут</span><br><span>Наладить дневной сон в любом возрасте </span><br><span>Уменьшить количество ночных кормлений кормлений до 1–3 раз</span><br><span>Освоить техники успокаивания малыша и предотвращать истерики от переутомления</span><br><span>Победить ночные бодрствования</span><br><span>Плавно уйти от укачивания на руках, в коляске или на фитболе</span><br><span>Спать всю ночь после 9-12 месяцев</span><br><span>Без слез «отселить» ребенка в отдельную кроватку или комнату </span><br><span>Организовать сон одного беспокойного малыша или нескольких детей в одном доме</span><br><b><span>Помочь мамам и папам с удовольствием совмещать родительские обязанности с другими делами и не выбиваться из сил</b></span>
          +button-primary('link', 'Записаться на консультацию', '', {link: '#'})
        .about-help-results__author
          .about-help-results__author-inner
            a(href="#").about-help-results__author-name Елена Мурадова
            p.about-help-results__author-about Основатель BabySleep, первый консультант по сну в России и СНГ