include ../_ui/subheading/subheading

mixin selection-sleep
  section.selection-sleep.container
    .wrapper
      +subheading('Как спит ребенок в 0-3 месяца')
      .selection-sleep__accordeon.js-accordeon
        .selection-sleep__accordeon-item
          .selection-sleep__accordeon-content.js-accordeon-item.active
            p.selection-sleep__accordeon-heading.js-accordeon-trigger Биология сна
            .selection-sleep__accordeon-info(style="display: block;")
              .selection-sleep__accordeon-inner
                img(src="img/inhtml/selection-sleep.jpg", alt="").selection-sleep__accordeon-img
                p.selection-sleep__accordeon-text Цикл сна малыша составляет 60 минут против 90 минут у взрослых. Более того, он начинается с фазы быстрого сна (иногда поверхностного): вы заметите гримасы, улыбки, подрагивания и т.п. <br><br>Из-за этой особенности малыша может быть сложно переложить на горизонтальную поверхность после того, как он заснул у вас на руках.
        .selection-sleep__accordeon-item
          .selection-sleep__accordeon-content.js-accordeon-item
            p.selection-sleep__accordeon-heading.js-accordeon-trigger Пример режима
            .selection-sleep__accordeon-info
              .selection-sleep__accordeon-inner
                img(src="img/inhtml/selection-sleep.jpg", alt="").selection-sleep__accordeon-img
                p.selection-sleep__accordeon-text Цикл сна малыша составляет 60 минут против 90 минут у взрослых. Более того, он начинается с фазы быстрого сна (иногда поверхностного): вы заметите гримасы, улыбки, подрагивания и т.п. <br><br>Из-за этой особенности малыша может быть сложно переложить на горизонтальную поверхность после того, как он заснул у вас на руках.
        .selection-sleep__accordeon-item
          .selection-sleep__accordeon-content.js-accordeon-item
            p.selection-sleep__accordeon-heading.js-accordeon-trigger Укладывание
            .selection-sleep__accordeon-info
              .selection-sleep__accordeon-inner
                img(src="img/inhtml/selection-sleep.jpg", alt="").selection-sleep__accordeon-img
                p.selection-sleep__accordeon-text Цикл сна малыша составляет 60 минут против 90 минут у взрослых. Более того, он начинается с фазы быстрого сна (иногда поверхностного): вы заметите гримасы, улыбки, подрагивания и т.п. <br><br>Из-за этой особенности малыша может быть сложно переложить на горизонтальную поверхность после того, как он заснул у вас на руках.
        .selection-sleep__accordeon-item
          .selection-sleep__accordeon-content.js-accordeon-item
            p.selection-sleep__accordeon-heading.js-accordeon-trigger Ночные пробуждения
            .selection-sleep__accordeon-info
              .selection-sleep__accordeon-inner
                img(src="img/inhtml/selection-sleep.jpg", alt="").selection-sleep__accordeon-img
                p.selection-sleep__accordeon-text Цикл сна малыша составляет 60 минут против 90 минут у взрослых. Более того, он начинается с фазы быстрого сна (иногда поверхностного): вы заметите гримасы, улыбки, подрагивания и т.п. <br><br>Из-за этой особенности малыша может быть сложно переложить на горизонтальную поверхность после того, как он заснул у вас на руках.