mixin about-help-types
  section.about-help-types.block.container
    .wrapper
      p.about-help-types__heading Мы помогаем наладить сон в среднем за 2-4 недели, учитывая возрастные особенности, темперамент, взгляды и&nbsp;пожелания всей семьи
      .about-help-types__grid
        a(href="#").about-help-types__item
          img(src="img/inhtml/sleep-1.svg", alt="").about-help-types__item-image
          p.about-help-types__item-desc Cон детей <br>в 0–7 лет
        a(href="#").about-help-types__item
          img(src="img/inhtml/sleep-2.svg", alt="").about-help-types__item-image
          p.about-help-types__item-desc Cон сиблингов <br>и близнецов
        a(href="#").about-help-types__item
          img(src="img/inhtml/sleep-3.svg", alt="").about-help-types__item-image
          p.about-help-types__item-desc Cон <br>родителей
        a(href="#").about-help-types__item
          img(src="img/inhtml/sleep-4.svg", alt="").about-help-types__item-image
          p.about-help-types__item-desc Cон <br>в беременность