include ../_ui/heading/heading
include ../_ui/description/description

mixin about-help-situations
  section.about-help-situations.container
    .wrapper
      +heading('В каких ситуациях консультант по сну BS может помочь?')
      +description('В 90% случаев родители обращаются к консультантам по сну за помощью, когда уже критично не высыпаются: ребенок изматывающе долго засыпает, часто просыпается, плачем просит есть (хотя не голоден), соску, подкачать, не спит в кроватке, поздно ложится и рано встает.')
      p.about-help-situations__subheading Вопросы, на которые знают ответы наши консультанты по детскому сну:
      .about-help-situations__grid
        ul.about-help-situations__list
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/milk.svg')")
            p Как и когда отучить ребенка от ночных кормлений?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/moon.svg')")
            p Как и когда начать спать всю ночь?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/kiss.svg')")
            p Как помочь ребенку, который тревожно спит и часто просыпается?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/parents.svg')")
            p Как отучить ребенка спать с родителями?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/clock.svg')")
            p Как продлевать дневной и ночной сон?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/restrict.svg')")
            p Как научить малыша засыпать без кормлений и укачиваний?
        ul.about-help-situations__list
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/cry.svg')")
            p Как помочь ребенку заснуть быстрее и без слез?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/motherhood.svg')")
            p Как уложить ребенка спать без груди, но сохранить ГВ?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/bed.svg')")
            p Как уложить ребенка спать в кроватку?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/newborn.svg')")
            p Как уложить спать новорожденного?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/siblings.svg')")
            p Как организовать сон нескольких детей?
          li.about-help-situations__list-item
            .about-help-situations__list-item-icon(style="background-image: url('img/emojis/door.svg')")
            p Как экологично переселить ребенка отдельную комнату?