mixin why-hero
  section.why-hero.container
    .wrapper
      h1.why-hero__heading Почему Baby Sleep
      .why-hero__grid
        .why-hero__item
          p.why-hero__item-heading 9 лет практики индивидуальных консультаций
          p.why-hero__item-desc Не курсы и марафоны, а персональный сервис по решению проблем — это сердце бс,  с доведением до результата под лупой ежедневного сопровождением
        .why-hero__item
          p.why-hero__item-heading Действуем на опережение
          p.why-hero__item-desc Мы создали уникальную программу «расти и высыпаться» с планом каждые 3 мес, чтобы вы поспевали за изменениями и предотвратили большинство проблем со сном.
        .why-hero__item
          p.why-hero__item-heading Команда экспертов
          p.why-hero__item-desc Наши кс топовы практики, эксперты в сми, преподаватели и супервизоры на рынке услуг консультантов по сну, средний опыт 5 лет.
        .why-hero__item
          p.why-hero__item-heading 300+ исследований
          p.why-hero__item-desc Свой научный отдел, врачи неврологи сомнолог педиатр, фармацевт, психологи и кс по гв
        .why-hero__item
          p.why-hero__item-heading Действительно мягкие методики
          p.why-hero__item-desc Основоположники этого направления, пошли своим путем. Мама успокаивает ребенка, в комнате, не резко.
        .why-hero__item
          p.why-hero__item-heading Без фанатизма
          p.why-hero__item-desc Не помешены на таблицах, не навязываем режим строго по часам. Вообще ничего не навязываем. Бережем мам от чувства вины.
        .why-hero__item
          p.why-hero__item-heading Мы работаем с миссией
          p.why-hero__item-desc С душой и самоотдачей. Это больше чем «бизнес». Почитайте отзывы.
        .why-hero__item
          p.why-hero__item-heading Больше чем сон
          p.why-hero__item-desc Пользуйтесь нашими бесплатными сервисами по сну, развитию, играм, скаякам роста, колыбельными в разделе энциклопедия сна.
        .why-hero__item
          p.why-hero__item-heading Мы сами мамы 46 детей
          p.why-hero__item-desc И все в БС делаем сами, для вас, с любовью.