mixin calendar-aware
  section.calendar-aware.container
    .wrapper
      .calendar-aware__block
        .calendar-aware__block-desc
          p.calendar-aware__block-heading Будь всегда в курсе!
          p.calendar-aware__block-text Повесь расписание на холодильник!
        a(href="#").calendar-aware__block-link Распечатать PDF
        .calendar-aware__block-image(style="background-image: url('img/inhtml/calendar-aware.jpg');")
      .calendar-aware__table
        .calendar-aware__table-inner
          .calendar-aware__table-head
            p.calendar-aware__table-cell Когда
            p.calendar-aware__table-cell Скачки развития ребёнка
          .calendar-aware__table-row
            p.calendar-aware__table-cell 5 неделя (4–6) / 1 месяц
            p.calendar-aware__table-cell 1 скачок: Новые ощущения
          .calendar-aware__table-row
            p.calendar-aware__table-cell 8 неделя (7-9) / 2 месяца
            p.calendar-aware__table-cell 2 скачок: Познание своего тела
          .calendar-aware__table-row
            p.calendar-aware__table-cell 12 неделя (11-12) / 2,5 месяца
            p.calendar-aware__table-cell 3 скачок: Осознание перемен
          .calendar-aware__table-row
            p.calendar-aware__table-cell 19 неделя (18-20) / 4 месяца
            p.calendar-aware__table-cell 4 скачок: Освоение пространства
          .calendar-aware__table-row
            p.calendar-aware__table-cell 26 неделя (25-27) / 5,5 месяцев
            p.calendar-aware__table-cell 5 скачок: Осознание дистанции
          .calendar-aware__table-row
            p.calendar-aware__table-cell 37 неделя (36-40) / 8–9 месяцев
            p.calendar-aware__table-cell 6 скачок: Понимание речи
          .calendar-aware__table-row
            p.calendar-aware__table-cell 46 неделя (44-48) / 10,5 месяцев
            p.calendar-aware__table-cell 7 скачок: Конструирование и последовательность
          .calendar-aware__table-row
            p.calendar-aware__table-cell 55 неделя (54-56) / 1 год
            p.calendar-aware__table-cell 8 скачок: Планирование и достижение целей
          .calendar-aware__table-row
            p.calendar-aware__table-cell 64 неделя / 1 год и 3 месяца
            p.calendar-aware__table-cell 9 скачок: Фбстракции и принципы
          .calendar-aware__table-row
            p.calendar-aware__table-cell 75 неделя / 1 год и 5 месяцев
            p.calendar-aware__table-cell 10 скачок: Системы и управление