include ../_ui/subheading/subheading
include ../_ui/button/button

mixin encyclopedia-comments(auth)
  section.encyclopedia-comments.container
    .wrapper
      p.encyclopedia-comments__heading Комментарии (305)
      if auth
        form(action="").encyclopedia-comments__form
          .encyclopedia-comments__form-head
            .encyclopedia-comments__form-avatar(style="background-image: url('img/inhtml/specialist-1.jpg');")
            p.encyclopedia-comments__form-name Екатерина
          textarea(name="comment", placeholder="Введите ваш комментарий...", required).encyclopedia-comments__form-textarea
          +button-primary('submit', 'Отправить')
      else
        a(href="#", data-popup="auth").encyclopedia-comments__btn.js-open-popup Оставить комментарий
      .encyclopedia-comments__comment
        .encyclopedia-comments__comment-author
          .encyclopedia-comments__comment-image.encyclopedia-comments__comment-image--logo(style="background-image: url('img/inhtml/specialist-3.jpg');")
          .encyclopedia-comments__comment-author-about
            p.encyclopedia-comments__comment-author-name Ольга
        p.encyclopedia-comments__comment-text Подскажите, пожалуйста. Ребенку 2 месяца. Кормлю сцеженным молоком раз в 3 часа, от груди отказ. С рождения сформировалась очень сильная ассоциация на сон: укачивание в коконе на фитболе. В настоящий момент дневные сны ребенок спит только по качании на мяче, при "остановке". Не знаю уходит ли дочь в глубокую фазу сна при этом и являются ли они эффективны. <br><br>В обед выхожу на прогулку с коляской, дочь спит в коляске 3-4 часа, также просыпаясь при "остановке".Ночью также частые просыпания, так как не может соединить 2 фазы сна без качки...Пробовала убрать качания, положить в кроватку и гладить, шикать, но ребенок вопит, багровеет, просто истерика навзрыд больше получаса, потом от изнеможения засыпает...Подскажит е, пожалуйста, хватает ли сна при настоящем раскладе или такие сны неэффективны?
        p.encyclopedia-comments__comment-date 23 июня 2019
        .encyclopedia-comments__answer
          .encyclopedia-comments__comment-author
            .encyclopedia-comments__comment-image(style="background-image: url('img/inhtml/specialist-1.jpg');")
            .encyclopedia-comments__comment-author-about
              a.encyclopedia-comments__comment-author-name(href="#") Анна Бахарева
              .encyclopedia-comments__comment-author-pos Руководитель обучения консультантов<br>Топ-консультант
          p.encyclopedia-comments__comment-text Добрый вечер! <br><br>Отсутствие дневного сна в 5 лет - это не страшно, но важно, чтобы ребенок достаточно спал ночью и получал за ночь всю свою суточную норму сна (для 5 лет это около 10-11 часов). То есть желательно сдвинуть засыпание хотя бы на 22.00. То, что малышей у Вас двое и оба нуждаются в маме перед сном, ситуацию несколько осложняет. Но выход есть. Постарайтесь сдвинуть на более раннее время все вечерние рутины: ужин, уборку игрушек, купание, чистку зубов, чтобы дети оказывались в спальне не позже 21.30. Дальше - ритуал укладывания.
          p.encyclopedia-comments__comment-date 23 июня 2019
        if auth
          form(action="").encyclopedia-comments__answerform
            .encyclopedia-comments__answerform-head
              .encyclopedia-comments__answerform-avatar(style="background-image: url('img/inhtml/specialist-1.jpg');")
              textarea(name="comment", placeholder="Введите ваш комментарий...", required).encyclopedia-comments__answerform-textarea
            +button-quoternary('submit', 'Отправить')
      .encyclopedia-comments__comment
        .encyclopedia-comments__comment-author
          .encyclopedia-comments__comment-image(style="background-image: url('img/inhtml/specialist-2.jpg');")
          .encyclopedia-comments__comment-author-about
            p.encyclopedia-comments__comment-author-name Марина
        p.encyclopedia-comments__comment-text Здравствуйте!Спасибо за ваш труд! Мне тоже нужна ваша помощь.Ребёнку 5 лет, ходит в сад, в саду не спит, тихий час с 13 до 15. Ночью засыпает долго, не важно во сколько уложить, раньше 22-22.30, иногда 23.00 не засыпает, но спит всегда крепко до утра, с утра тяжело поднимается. <br><br>Бужу в 8.00. Получается, что за ночь он спит всего 9-10 часов. Я сама взрослый 30-летний человек сплю практически столько же:(Укладываю спать в одной комнате с дочкой, ей 2,5, засыпают одновременно, но она днём спит долго и добирает своё.
        p.encyclopedia-comments__comment-date 23 июня 2019
        if auth
          form(action="").encyclopedia-comments__answerform
            .encyclopedia-comments__answerform-head
              .encyclopedia-comments__answerform-avatar(style="background-image: url('img/inhtml/specialist-1.jpg');")
              textarea(name="comment", placeholder="Введите ваш комментарий...", required).encyclopedia-comments__answerform-textarea
            +button-quoternary('submit', 'Отправить')
      .encyclopedia-comments__age
        +subheading('Сон по возрастам')
        .encyclopedia-comments__age-grid
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-1.svg", alt="").encyclopedia-comments__age-image
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-2.svg", alt="").encyclopedia-comments__age-image
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-3.svg", alt="").encyclopedia-comments__age-image
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-4.svg", alt="").encyclopedia-comments__age-image
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-5.svg", alt="").encyclopedia-comments__age-image
          a(href="#").encyclopedia-comments__age-item
            img(src="img/inhtml/age-6.svg", alt="").encyclopedia-comments__age-image
      .encyclopedia-comments__comment
        .encyclopedia-comments__comment-author
          .encyclopedia-comments__comment-image(style="background-image: url('img/inhtml/specialist-1.jpg');")
          .encyclopedia-comments__comment-author-about
            p.encyclopedia-comments__comment-author-name Оксана
        p.encyclopedia-comments__comment-text Добрый вечер! <br><br>Отсутствие дневного сна в 5 лет - это не страшно, но важно, чтобы ребенок достаточно спал ночью и получал за ночь всю свою суточную норму сна (для 5 лет это около 10-11 часов). То есть желательно сдвинуть засыпание хотя бы на 22.00. То, что малышей у Вас двое и оба нуждаются в маме перед сном, ситуацию несколько осложняет. Но выход есть. Постарайтесь сдвинуть на более раннее время все вечерние рутины: ужин, уборку игрушек, купание, чистку зубов, чтобы дети оказывались в спальне не позже 21.30. Дальше - ритуал укладывания.
        p.encyclopedia-comments__comment-date 23 июня 2019
        if auth
          form(action="").encyclopedia-comments__answerform
            .encyclopedia-comments__answerform-head
              .encyclopedia-comments__answerform-avatar(style="background-image: url('img/inhtml/specialist-1.jpg');")
              textarea(name="comment", placeholder="Введите ваш комментарий...", required).encyclopedia-comments__answerform-textarea
            +button-quoternary('submit', 'Отправить')
      a(href="#").encyclopedia-comments__more Показать ещё 20 комментариев из 295