mixin pagination
  .pagination
    a(href="#").pagination__item.pagination__item--active 1
    a(href="#").pagination__item 2
    a(href="#").pagination__item 3
    a(href="#").pagination__item 4
    a(href="#").pagination__item ...
    a(href="#").pagination__item 20
    a(href="#").pagination__item Вперёд