mixin encyclopedia-hero
  section.encyclopedia-hero.container
    .wrapper
      h1.encyclopedia-hero__heading Энциклопедия сна
      p.encyclopedia-hero__desc Baby-sleep.ru — первый и крупнейший русскоязычный портал-миллионник о детском сне.<br><br>С заботой и поддержкой <a href="#">Еленой Мурадовой</a> и <a href="#">профессиональной командой БС</a> с 2011 года создано более 250 статей и бесплатных сервисов для родителей, чтобы вы самостоятельно могли наладить сон ребенка.