include ../components/preloader/preloader
include ../components/header/header
include ../components/_ui/breadcrumbs/breadcrumbs
include ../components/contacts/contacts
include ../components/about-subscribe/about-subscribe
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
	head
		title Контакты
		include assets/_metas
		include assets/_links
		include assets/_scripts
	body
		+preloader
		.page-wrapper
			+header
			+breadcrumbs([{text: 'baby sleep', href: 'main.html'}, {text: 'о нас', href: 'about.pug'}, {text: 'контакты'}])
			+contacts
			+about-subscribe
			+footer