include ../components/preloader/preloader
include ../components/header/header
include ../components/_ui/breadcrumbs/breadcrumbs
include ../components/why-hero/why-hero
include ../components/_ui/heading/heading
include ../components/_ui/description/description
include ../components/_ui/card/card
include ../components/about-subscribe/about-subscribe
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Команда консультантов BabySleep
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    +preloader
    .page-wrapper
      +header
      +breadcrumbs([{text: 'baby sleep', href: 'main.html'}, {text: 'о нас', href: 'about.html'}, {text: 'почему baby sleep'}])
      +why-hero
      section.block.container
        .wrapper
          +heading('Как наладить сон ребенка')
          +description('Мы встречаемся с родителями на программах в онлайн, консультациях по видеосвязи, приезжаем на дом с индивидуальным планом налаживания сна.')
          .grid-card
            +card('card-1.jpg', 'Самостоятельно', 'Вебинары по возрасту', 'Научим быстрее успокаивать, перекладывать в кроватку без слез, создадим базу для бесшовного прохождения регресса сна', ['0–6 мес', '6–12 мес', '1–3 года', 'ГВ и сон'], null, '1990 ₽')
            +card('card-2.jpg', 'Быстрое решение', 'Экспресс-консультации', 'Предложим стратегию-решение по конкретно вашей ситуации', null, null, 'от 3500 ₽')
            +card('card-3.jpg', 'Индивидуальное решение', 'Решение под ключ — 1 месяц работы над сном с консультантом', '4 недели работы один на один с экспертом по решению любых проблем со сном', null, 'от 12 000 ₽', 'от 10 000 ₽')
      section.reviews.container
        .wrapper
          +heading('500+ отзывов', 'Смотреть все')
          .reviews__slider.slider.js-reviews-slider
            .reviews__slide
              .reviews__slide-content
                .reviews__slide-image.reviews__slide-image--video(style="background-image: url('img/inhtml/reviews-1.jpg');")
                  .reviews__slide-image-play
                .reviews__slide-info
                  .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-1.jpg');")
                  .reviews__slide-desc
                    p.reviews__slide-name Наталья Подольская, Москва
                    p.reviews__slide-pos мама Тёмы
                a.reviews__slide-type(href="#") Индивидуальное решение под ключ
                p.reviews__slide-title Проблема
                p.reviews__slide-text В 6-8 месяцев засыпает только с долгим укачиванием в люльке, 8-12 пробуждений за ночь.
                p.reviews__slide-title Результат
                p.reviews__slide-text Самостоятельное засыпание без укачиваний и слез в кроватке, 1-3  кормления (ГВ).
              a.reviews__slide-link(href="#") Смотреть видеоотзыв
            .reviews__slide
              .reviews__slide-content
                .reviews__slide-image(style="background-image: url('img/inhtml/reviews-2.jpg');")
                .reviews__slide-info
                  .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-2.jpg');")
                  .reviews__slide-desc
                    p.reviews__slide-name Юлия Смольная, Санкт-Петербург
                    p.reviews__slide-pos мама Лены и Макара
                a.reviews__slide-type(href="#") Экспресс консультация
                p.reviews__slide-title Проблема
                p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
                p.reviews__slide-title Результат
                p.reviews__slide-text Засыпание за 15 минут, ощущение контакта и единения с детьми у мамы.
              a.reviews__slide-link(href="#") Смотреть отзыв
            .reviews__slide
              .reviews__slide-content
                .reviews__slide-image(style="background-image: url('img/inhtml/reviews-3.jpg');")
                .reviews__slide-info
                  .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-3.jpg');")
                  .reviews__slide-desc
                    p.reviews__slide-name Настя и Женя Кузнецовы, Челябинск
                    p.reviews__slide-pos родители Есении и Федора
                a.reviews__slide-type(href="#") Индивидуальное решение под ключ
                p.reviews__slide-title Проблема
                p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
                p.reviews__slide-title Результат
                p.reviews__slide-text Сон всю ночь без пробуждений и без кормлений.
              a.reviews__slide-link(href="#") Смотреть отзыв
            .reviews__slide
              .reviews__slide-content
                .reviews__slide-image(style="background-image: url('img/inhtml/reviews-2.jpg');")
                .reviews__slide-info
                  .reviews__slide-avatar(style="background-image: url('img/inhtml/avatar-2.jpg');")
                  .reviews__slide-desc
                    p.reviews__slide-name Юлия Смольная, Санкт-Петербург
                    p.reviews__slide-pos мама Лены и Макара
                a.reviews__slide-type(href="#") Экспресс консультация
                p.reviews__slide-title Проблема
                p.reviews__slide-text Погодки 2 и 4 года изматывающе долго (1-2 часа) засыпают на ночь, мама устала.
                p.reviews__slide-title Результат
                p.reviews__slide-text Засыпание за 15 минут, ощущение контакта и единения с детьми у мамы.
              a.reviews__slide-link(href="#") Смотреть отзыв
      +about-subscribe
      +footer