include ../_ui/card/card
include ../_ui/subheading/subheading

mixin history-subscribe
  section.about-subscribe.block.container
    .wrapper
      .history-subscribe
        p.history-subscribe__heading Добро пожаловать в команду профессионалов!
        .history-subscribe__button
          +button-primary('link', 'Хочу в команду', '', {link: '#'})
      .about-subscribe__slider.slider.js-reviews-slider
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-1.jpg');")
          p.about__item-heading Как и кому помогают консультанты по сну
          p.about__item-desc до 93% эффективно при нарушениях сна
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-2.jpg');")
          p.about__item-heading Мягкий метод BabySleep
          p.about__item-desc улучшение сна бережно, психологически комфортно, до результата
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-3.jpg');")
          p.about__item-heading Команда консультантов BabySleep
          p.about__item-desc самая большая и опытная на рынке в индивидуальном консультировании
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-4.jpg');")
          p.about__item-heading Почему Baby Sleep
          p.about__item-desc 9 лет практического опыта, база 300+ исследований, с душой и самоотдачей
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-5.jpg');")
          p.about__item-heading Наша история
          p.about__item-desc с 2011. Как появились консультанты по сну в России
        a(href="#").about__item.about__item--disabled
          .about__item-image(style="background-image: url('img/inhtml/about-6.jpg');")
          p.about__item-heading Направления работы центра BabySleep
          p.about__item-desc Консультации, онлайн программы, лекции по городам, статьи и сервисы 
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-7.jpg');")
          p.about__item-heading Обучение консультантов по сну
          p.about__item-desc Крупнейшая в России школа мягких методик, дистанционное обучение
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-8.jpg');")
          p.about__item-heading Миссия и ценности
          p.about__item-desc Не используем методы «дать проплакаться», поддерживаем ГВ, соблюдаем этический кодекс
        a(href="#").about__item.about__item--disabled
          .about__item-image(style="background-image: url('img/inhtml/about-9.jpg');")
          p.about__item-heading Партнерство с брендами
          p.about__item-desc Создание экспертного контента для вашей аудитории любого уровня сложности
        a(href="#").about__item.about__item--disabled
          .about__item-image(style="background-image: url('img/inhtml/about-5.jpg');")
          p.about__item-heading Пресса о BabySleep
          p.about__item-desc Более 50 съемок, интервью и полезных комментариев о сне ребенка в ведущих СМИ
        a(href="#").about__item.about__item--disabled
          .about__item-image(style="background-image: url('img/inhtml/about-6.jpg');")
          p.about__item-heading Поддержать проект
          p.about__item-desc Сказать спасибо за помощь, бесплатные статьи и сервисы
        a(href="#").about__item
          .about__item-image(style="background-image: url('img/inhtml/about-4.jpg');")
          p.about__item-heading Контакты
          p.about__item-desc 99%  семей рекомендуют наши консультации и полезные материалы своим друзьям 
      .reviews__subscribe
        p.reviews__subscribe-heading Подписывайтесь!
        p.reviews__subscribe-text Бесплатные консультации и советы в наших соц. сетях
        .reviews__subscribe-socials
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="inst")
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="vk")
          a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="telegram")