mixin about-help-hero
  section.about-help-hero.container
    .wrapper
      h1.about-help-hero__heading Как и кому помогают консультанты по сну
      p.about-help-hero__desc По статистике, проблемы со сном встречаются у детей в 20–30% случаев, и большинство из них имеют поведенческую причину. То есть ребенок здоров, но плохо спит и  трудно засыпает. <br><br>Постепенно меняя поведение, способ укладывания и соблюдая гигиену сна, родители могут менять привычки сна детей, не маскируя проблему «вечно прорезывающимися зубами», капризным характером ребенка, не теряя время.
      .selection-video__player(style="background-image: url('img/inhtml/selection-video.jpg')")
      p.selection-video__disclaimer Полезное видео