mixin encyclopedia-toggles
  section.encyclopedia-toggles.container
    .wrapper
      .encyclopedia-toggles__row
        p.encyclopedia-toggles__item.encyclopedia-toggles__item--active любой возраст
        p.encyclopedia-toggles__item 0–3 мес
        p.encyclopedia-toggles__item 3–6 мес
        p.encyclopedia-toggles__item 6–9 мес
        p.encyclopedia-toggles__item 9–18 мес
        p.encyclopedia-toggles__item 1,5–3 года
        p.encyclopedia-toggles__item 3–7 лет