include ../_ui/card/card
include ../_ui/subheading/subheading

mixin consultant-subscribe
  section.consultant-subscribe
    .container
      .wrapper
        p.consultant-subscribe__heading Елена принимает участие в таких проектах как
    .reviews.block.container
      .wrapper
        .reviews__subscribe
          .grid-card
            +card('card-1.jpg', 'Самостоятельно', 'Вебинары по возрасту', 'Научим быстрее успокаивать, перекладывать в кроватку без слез, создадим базу для бесшовного прохождения регресса сна', ['0–6 мес', '6–12 мес', '1–3 года', 'ГВ и сон'], null, '1990 ₽')
            +card('card-2.jpg', 'Быстрое решение', 'Экспресс-консультации', 'Предложим стратегию-решение по конкретно вашей ситуации', null, null, 'от 3500 ₽')
            +card('card-3.jpg', 'Индивидуальное решение', 'Решение под ключ — 1 месяц работы над сном с консультантом', '4 недели работы один на один с экспертом по решению любых проблем со сном', null, 'от 12 000 ₽', 'от 10 000 ₽')
        +subheading('Другие разделы', 'Смотреть все')
        .consultant-subscribe__articles
          a(href="#").about__item
            .about__item-image(style="background-image: url('img/inhtml/about-2.jpg');")
            p.about__item-heading Мягкий метод BabySleep
            p.about__item-desc улучшение сна бережно, психологически комфортно, до результата
          a(href="#").about__item
            .about__item-image(style="background-image: url('img/inhtml/about-3.jpg');")
            p.about__item-heading Команда консультантов BabySleep
            p.about__item-desc самая большая и опытная на рынке в индивидуальном консультировании
          a(href="#").about__item
            .about__item-image(style="background-image: url('img/inhtml/about-4.jpg');")
            p.about__item-heading Почему Baby Sleep
            p.about__item-desc 9 лет практического опыта, база 300+ исследований, с душой и самоотдачей
        .reviews__subscribe
          p.reviews__subscribe-heading Подписывайтесь!
          p.reviews__subscribe-text Бесплатные консультации и советы в наших соц. сетях
          .reviews__subscribe-socials
            a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="inst")
            a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="vk")
            a.reviews__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="telegram")