mixin feedback-subscribe
  section.feedback-subscribe.block.container
    .wrapper
      .feedback-subscribe__subscribe
        p.feedback-subscribe__subscribe-heading Подписывайтесь!
        p.feedback-subscribe__subscribe-text Бесплатные консультации и советы в наших соц. сетях
        .feedback-subscribe__subscribe-socials
          a.feedback-subscribe__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="inst")
          a.feedback-subscribe__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="vk")
          a.feedback-subscribe__subscribe-social(href="#", target="_blank", rel="nofollow noopener", data-social="telegram")