include ../_ui/button/button

mixin encyclopedia-calendars
  section.encyclopedia-calendars.container
    .wrapper
      .encyclopedia-calendars__grid
        .encyclopedia-calendars__item
          img(src="img/inhtml/calendar-1.svg", alt="").encyclopedia-calendars__image
          p.encyclopedia-calendars__title Календарь скачков и кризисов развития
          p.encyclopedia-calendars__desc До 1,5 лет ребенок переживает 10 кризисов роста и развития. Не стоит пугаться, каждый кризис — это скачок развития нервной системы, скачок роста мозга, появление новых способностей у ребенка. Кризисные недели складываются в календарь скачков развития ребенка.
          +button-primary('link', 'Подробнее', 'encyclopedia-calendars__btn', {link: '#'})
        .encyclopedia-calendars__item
          img(src="img/inhtml/calendar-2.svg", alt="").encyclopedia-calendars__image
          p.encyclopedia-calendars__title Сон ребенка месяц <br>за месяцем
          p.encyclopedia-calendars__desc Постепенно дети все меньше спят, а время бодрствования между дневными сна увеличивается. Как дети «сбрасывают дневные сны и начинают спать всю ночь? Наблюдайте как меняется потребности малыша месяц за месяцем.
          +button-primary('link', 'Подробнее', 'encyclopedia-calendars__btn', {link: '#'})
        .encyclopedia-calendars__item
          img(src="img/inhtml/calendar-3.svg", alt="").encyclopedia-calendars__image
          p.encyclopedia-calendars__title Игры с ребенком месяц <br>за месяцем
          p.encyclopedia-calendars__desc Постепенно дети все меньше спят, а время бодрствования между дневными сна увеличивается. Как дети «сбрасывают дневные сны и начинают спать всю ночь? Наблюдайте как меняется потребности малыша месяц за месяцем.
          +button-primary('link', 'Подробнее', 'encyclopedia-calendars__btn', {link: '#'})
        .encyclopedia-calendars__item
          img(src="img/inhtml/calendar-4.svg", alt="").encyclopedia-calendars__image
          p.encyclopedia-calendars__title Сон и развитие по возрастам
          p.encyclopedia-calendars__desc До 1,5 лет ребенок переживает 10 кризисов роста и развития. Не стоит пугаться, каждый кризис — это скачок развития нервной системы, скачок роста мозга, появление новых способностей у ребенка. Кризисные недели складываются в календарь скачков развития ребенка.
          +button-primary('link', 'Подробнее', 'encyclopedia-calendars__btn', {link: '#'})