include ../_ui/heading/heading
include ../_ui/button/button

mixin history
  section.history
    .container
      .wrapper
        .history__head
          +heading('Наша история')
          +button-primary('link', 'Хочу в команду', '', {link: '#'})
        p.history__subheading Консультанты по сну. BabySleep. Предисловие
        .history__timeline
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2007 - 2009
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc У Елены Мурадовой рождаются двое детей с небольшой разницей в возрасте.<br><br>Старший сын с 5 мес. до 2 лет 7 мес.  периодически плохо спит: часто просыпается, рано отказывается от дневного сна, после завершения ГВ засыпает только с бутылкой смеси и просит 3-4 бутылки за ночь почти до 3 лет.<br><br>Елена встает, кормит, терпит «как все», тк считает, что едва ли что-то можно сделать. Подруга рассказывает про книгу Э. Пэнтли.
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2010
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Елена Мурадова обучает самостоятельному засыпанию своих старших погодок. Неспящий сын за 3! дня «забывает» про бутылки со смесью. Младшая дочь 1.4 года на ГВ вместо многочасовых укачиваний в слинге засыпает сама в кроватке на ночной и дневные сны. Вся семья начинает спать всю ночь.  У молодой мамы высвобождается огромное количество энергии на самореализацию
              .history__timeline-cell
            .history__timeline-row.history__timeline-row--middle
              .history__timeline-cell
                .history__timeline-block
                  p.history__timeline-subheading Новая идея и ниша для России и СНГ
                  p.history__timeline-desc Елена ведет с Татьяной Ч. блог в живом журнале, посвященный осознанному, сбалансированному   родительству «без фанатизма».  Узнает, что исследовательские институты сна по всему миру уже более 30 лет  изучают поведенческие нарушения сна детей и взрослых. В Америке, Европе, Канаде, Австралии  существует очень востребованная профессия – консультант по детскому сну.
                div
              .history__timeline-cell
                a.history__timeline-aside(href="#") Календарь кризисов ребенка
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-subheading Самообразование и первая помощь семьям
                p.history__timeline-desc Елена Мурадова обучает самостоятельному засыпанию своих старших погодок. Неспящий сын за 3! дня «забывает» про бутылки со смесью. Младшая дочь 1.4 года на ГВ вместо многочасовых укачиваний в слинге засыпает сама в кроватке на ночной и дневные сны. Вся семья начинает спать всю ночь.  У молодой мамы высвобождается огромное количество энергии на самореализацию
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__subheading Старт профессии консультант по сну в России
                p.history__timeline-desc не все, но точно значимые для БС события
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2011
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Тренерская сертификация и первые семинары «Как улучить сон ребенка» в Москве и Никосии (Кипр). Создание Еленой Мурадовой первого русскоязычного портала о детском сне baby-sleep.ru<br><br>Ноухау для  русскоязычных родителей:  Таблица Времени Бодрствования (ВБ), нормы сна,  понятия «ассоциация на сон» и  «признаки  усталости», польза «раннего укладывания». 
              .history__timeline-cell
                a.history__timeline-aside(href="#") Школа сна «Спать всю ночь»
            .history__timeline-row
              .history__timeline-cell
                .history__timeline-slider
                  .consultant__slider.slider.js-consultant-slider
                    .consultant__slider-slide
                      a.consultant__slider-image.consultant__slider-image--video(style="background-image: url('img/inhtml/mission.jpg');", href="https://www.youtube.com/watch?v=dQw4w9WgXcQ", target="_blank", rel="noopener noreferrer")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                  p.consultant__slider-counter
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2012
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Получение Еленой Мурадовой диплома консультанта по сну  в США, вступление в международную ассоциацию КС по сну.  Отказ от преподавательской деятельности в международном институте в пользу развития культуры здорового сна в России.
                .history__timeline-block
                  p.history__timeline-subheading Аутентичный путь
                  p.history__timeline-desc Личные убеждения Елены о важности доверительных отношений с детьми, понимание особенностей менталитета, культуры, традиций  в нашем обществе послужили основой создания российской школы  консультантов по сну  мягких  методик.<br><br>1й поток консультантов по сну в России: передача знаний  и опыта команде из 7 человек. Первое большое интервью о профессии  в журнале «Здоровье».
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2013
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Разработка логотипа и фирменного стиля BabySleep, написание индивидуальных планов улучшения сна для семей (по 25-30 стр.). Родители отдают предпочтение российской авторской методике Елены Мурадовой «обнял-успокоил -положил» (теперь методика BabySleep).
                .history__timeline-slider
                  .consultant__slider.slider.js-consultant-slider
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/history.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                  p.consultant__slider-counter
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2014
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Вторая версия сайта baby-sleep.ru. BabySleep из сайта 1 консультанта по сну становится Центром детского сна и развития. Проблемы со сном рассматриваются через призму этапов умственного, физического, психологического  развития ребенка, состояния матери, убеждений  и баланса в семье.<br><br>2й поток консультантов по сну BabySleep: передача знаний  и опыта команде из 12 человек.
              .history__timeline-cell
                a.history__timeline-aside(href="#") Школа сна «Спать всю ночь»
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2015
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Создание Татьяной Чхиквишвили и регулярное ведение линейки  вебинаров для родителей с базовой информацией о сне, делением по 1. возрастным особенностям (0-6, 6-12, 1-3 года), 2. Тематике (Сон и ГВ).<br><br>Оффлайн тренинг «Как высыпаться с рождения» - сотрудничество с перинатальными центрами, ЦТА, роды.ру и тд.
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2016
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc 3й поток консультантов по сну BabySleep : передача знаний  и опыта команде из 10 человек. Мастер-класс Елены Мурадовой «Как улучшить сон ребенка» в  Краснодаре, Санкт-Петербурге, Москве. Телеканал Москва 24  вместе с Еленой Мурадовой отправляется на консультацию в семью с неспящей двойней. <br><br>Телеканал НТВ снимает репортаж о BabySleep.<br><br>Появляется разделение КС по опыту работы  — старшие кс.
                .history__timeline-slider
                  .consultant__slider.slider.js-consultant-slider
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/history-2.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                  p.consultant__slider-counter
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2017
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc В BabySleep расширена научная база до 300+ исследований в области доказательной медицины сна. Сайт baby-sleep.ru ежегодно читают более 1 млн. уникальных пользователей.<br><br>На базе Бэбислип создан Центр подготовки консультантов по сну BabySleepConsult. Появилась возможность получить сертификат консультанта по сну  в России, пройдя трехмодульный дистанционный курс  с теорией, практикой и стажировкой.<br><br>Начало сотрудничества с Mail.ru Дети
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2018
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Годовое сотрудничество с брендом Chicco, создание для аудитории бренда 26 видеороликов и др экспертных материалов. <br><br>Книга «Мама на нуле» (Изд. Самокат, в соавторстве с А. Изюмской, Л. Петрановской. Млодик и тд). Продолжаются лекции BS в Тольятти, Ростове-на-Дону, Белгороде, Москве и др городах.<br><br>О профессии консультантов по сну и BabySleep выходит статья в РБК.<br><br>Елена Мурадова спикер Selfmama Forum, эксперт реалити-шоу телеканалов Супер и Пятница, др. СМИ.  Выступление на форуме «Актуальные проблемы сомнологии 2018» в МГУ с докладом о поведенческих инсомниях
              .history__timeline-cell
                a.history__timeline-aside(href="#") Календарь кризисов ребенка
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2019
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc Создание на базе BabySleepConsult полугодового курса повышения квалификации для консультантов по сну всех школ. <br><br>Перезагрузка: автоматизация процессов, смена бизнес-модели с информирующей на сервисную.
                .history__timeline-block
                  p.history__timeline-subheading Новый удобный сайт
                  p.history__timeline-desc Принято решение инвестировать кучу денег в создание полноценной мобильной  версии и расширить поиск информации по ключевым проблемам от 0 до 7 лет и особенностям возраста.
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2020
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc С BabySleep высыпаются 14 000 семей.<br><br>Разработка и реализация 3 версии сайта с 5 тематическими бесплатными сервисами для родителей. Упразднение всех пакетов индивидуального консультирования до 1 – на результат.<br><br>Создание пошаговых программ самопомощи со сном «расти и высыпаться» на возраста 0-3, 3-6,6-9, 10-18, 18-36.<br><br>Приглашение в команду 10 выпускников БСК, их апргрейд через тренинговый внутренний модуль БС.
                .history__timeline-slider
                  .consultant__slider.slider.js-consultant-slider
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/history-3.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                    .consultant__slider-slide
                      .consultant__slider-image(style="background-image: url('img/inhtml/mission.jpg');")
                      .consultant__slider-desc Встреча с командой bs
                  p.consultant__slider-counter
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading 2021
              .history__timeline-cell
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-desc С BabySleep высыпаются 14 000 семей.<br><br>Разработка и реализация 3 версии сайта с 5 тематическими бесплатными сервисами для родителей. Упразднение всех пакетов индивидуального консультирования до 1 – на результат.<br><br>Создание пошаговых программ самопомощи со сном «расти и высыпаться» на возраста 0-3, 3-6,6-9, 10-18, 18-36.<br><br>Приглашение в команду 10 выпускников БСК, их апргрейд через тренинговый внутренний модуль БС.
              .history__timeline-cell
          .history__timeline-item
            .history__timeline-row
              .history__timeline-cell
                p.history__timeline-heading.history__timeline-heading--last и это только начало впереди много новых побед...
                p.history__timeline-desc В команде БС за эти годы родилось 13 детей. Всего мамы консультанты БС воспитывают 46 детей
              .history__timeline-cell